<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

{% extends 'base.html' %}
{% block content %}

    <div class="container" style="margin-top: 10%;">
        <div class="row gy-4 gx-5">
{% for y in posts %}
    <div class="card text-bg-secondary mb-3 col-lg-4 col-md-3 col-sm-6 mx-3" style="width:25%">
        <h1 class="card-header mt-3 mb-4">{{y.title}}</h1>
        <img src="{{url_for('static', filename='images/img.png')}}" alt="moh" class="card-img-top p-2 rounded-3 w-75 py-3" >
        <div class="card-body">
            <p class="card-text">{{y.body}}</p>

        </div>
        <div class="d-flex">
<button type="button" class="btn btn-dark m-auto my-4"><a class="text-decoration-none text-white" href="{{ url_for('posts_info', id=y.id ) }}">Details</a></button>
<button type="button" class="btn btn-danger m-auto my-4"><a class="text-decoration-none text-white" href="{{ url_for( 'posts_delete', id=y.id)  }}">Delete</a></button>
<button type="button" class="btn btn-primary m-auto my-4"><a class="text-decoration-none text-white" href="{{ url_for( 'edit', id=y.id)  }}">Edit</a></button>





        </div>
    </div>
{% endfor %}



</div>
</div>

{% endblock  %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>